<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" ng-click="$dismiss()">&times;</span>
        </button>
        <h3>{{note.date}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <textarea class="form-control" rows="20" ng-change="nc.updateNote(note)" ng-model="note.text"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
        <button type="button" class="btn btn-default" ng-click="$close(project);">ok</button>
    </div>
</div>
