<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" ng-click="$dismiss()">&times;</span>
    </button>
    <span class="glyphicon glyphicon-alert"></span>
  </div>
  <div class="modal-body">
      <h3>Are you sure you want to delete this project ?</h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    <button type="button" class="btn btn-default" ng-click="$close(project);">ok</button>
  </div>
</div>
