<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" ng-click="$dismiss()">&times;</span>
    </button>
    <h5>Project</h5>
  </div>
  <div class="modal-body">
      <form class="form-horizontal">
        <div class="form-group">
        <label class="col-sm-4 control-label">Project Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Name" ng-model="project.name">
        </div>
      </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    <button type="button" class="btn btn-default" ng-click="$close(project);">ok</button>
  </div>
</div>
