<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
          <a href="#/project/{{nc.projectId}}">
            <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-home"></span>
            </button>
          </a>
        </div>
    </div>
    <div class="tableContainer">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Note</th>
                    <th>id</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="note in nc.notes" ng-class="{info: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <td ng-if="!note.active">
                        <button type="button" class="btn btn-primary" ng-click="nc.openOldNoteModal(note)">
                            {{note.date}}
                        </button>
                    </td>
                    <td ng-if="note.active">
                        <button type="button" class="btn btn-success" ng-click="nc.openNoteModal(note)">
                            {{note.date}}
                        </button>
                    </td>
                    <td>{{note.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
