<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <h3>Project : </h3>
        </div>
        <div class="col-md-3">
            <h3>{{pc.project.name}}</h3></div>
        <div class="col-md-3"></div>

        <div class="col-md-1">
          <button type="button" class="btn-lg btn-primary" ng-click="pc.openNoteModal(pc.note)">
              <span class="glyphicon glyphicon-th-list"></span>
          </button>
        </div>

        <div class="col-md-1">
          <a href="#/notes/{{pc.projectId}}"><button type="button" class="btn-lg btn-success">
              <span class="glyphicon glyphicon-folder-open"></span>
          </button>
        </a>
        </div>

        <div class="col-md-1">
            <button type="button" class="btn-lg btn-info" ng-click="pc.openProjectModal(pc.project)">
                <span class="glyphicon glyphicon-wrench"></span>
            </button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn-lg btn-danger" ng-click="pc.openProjectDeleteModal(pc.projectId)">
                <h2<span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>

</div>
</div>
<div class="jumbotron">
    <div class="row">
        <table class="table table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End time</th>
                    <th>Hours</th>
                    <td></td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control date" ng-change="pc.isValidDate(pc.session.date)" placeholder="Date" ng-model="pc.session.date" ng-model-options="{ updateOn: 'default blur', debounce: 0 }" data-placeholder="dd-mm-yyyy" data-mask="99-99-9999" masked>
                    </td>
                    <td>
                        <input type="text" class="form-control sTime" ng-change="pc.isValidTime(pc.session.start_time)" placeholder="start time" ng-model="pc.session.start_time" ng-model-options="{ updateOn: 'default blur', debounce: 0 }" ng-keyup="$event.keyCode == 13 && pc.addSession(pc.session)" data-placeholder="hh:mm" data-mask="99:99" masked>
                    </td>
                    <td>
                        <input type="text" class="form-control eTime" ng-change="pc.isValidTime(pc.session.end_time)" placeholder="end time" ng-model="pc.session.end_time" ng-model-options="{ updateOn: 'default blur', debounce: 0 }" ng-keyup="$event.keyCode == 13 && pc.addSession(pc.session)" data-placeholder="hh:mm" data-mask="99:99" masked>
                    </td>
                    <td ng-if="pc.session.start_time && pc.session.end_time">{{pc.session.hours = pc.getTimeDifference(pc.session.start_time, pc.session.end_time)}}</td>

                    <td ng-if="!pc.session.status">
                      <button type="button" ng-if="pc.inputState == 'clear' || !pc.inputState" class="btn btn-primary" ng-click="pc.addSession(pc.session)">
                        Add Session <span class="glyphicon glyphicon-play"></span>
                      </button>
                      <button type="button" ng-if="pc.inputState == 'error'" class="btn btn-primary disabled">
                        Add Session <span class="glyphicon glyphicon-play"></span>
                      </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div>
        <div id="sessionsContainer">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Hours</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="session in pc.sessions">
                        <td>{{session.date}}</td>
                        <td>{{session.start_time}}</td>
                        <td ng-if="!session.demo_end_time">{{session.end_time}}</td>
                        <td ng-if="session.demo_end_time">
                            <input type="text" class="form-control eTime"  ng-change="pc.isValidTime(session.demo_end_time)" ng-model="session.demo_end_time" ng-model-options="{ updateOn: 'default blur', debounce: 0 }" ng-keyup="$event.keyCode == 13 && pc.updateSession(session)" data-placeholder="hh:mm" data-mask="99:99" masked>
                        </td>
                        <td ng-if="session.start_time && session.end_time">{{session.hours = pc.getTimeDifference(session.start_time, session.end_time)}}</td>
                        <td ng-if="session.start_time && session.demo_end_time">{{session.hours = pc.getTimeDifference(session.start_time, session.demo_end_time)}}</td>
                        <td>
                          <button type="button" class="btn btn-danger" ng-click="pc.openSessionDeleteModal(session)">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
