body {
  background-color: #00849c;
}
#logo {
  margin-top: -15px;
}
.tableContainer {
  margin-bottom: 40px;
}
#sessionsContainer {
  margin-top: 100px;
}
.note-modal-window .modal-dialog {
  width: 80%;
}
