<div class="jumbotron">
    <div class="tableContainer" ng-controller="ProjectsController as pc">
        <h3>Projects:  <button type="button" class="btn btn-success" ng-click="pc.openProjectModal()"><span class="glyphicon glyphicon-plus"></span></button></h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Hours</th>
                    <th>Last Session</th>
                    <th>Notes</th>
                    <th>id</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="pc.projects.length >= 0"
                  ng-repeat="project in pc.projects"
                  ng-class="{info: hover}"
                  ng-mouseenter="hover = true"
                  ng-mouseleave="hover = false"
                >
                    <th><a href="#/project/{{project.id}}">{{project.name}}</a></th>
                    <td>{{project.hours || '--'}}</td>
                    <td>{{project.last_session || '--'}}</td>
                    <td>{{project.notes || '--'}}</td>
                    <td>{{project.id}}</td>
                </tr>
                <tr ng-if="pc.projects.length == 0">

                  <td colspan="4" class="danger">No Projects Yet! You can add one one..</td>
                  <td class="danger"><button type="button" class="btn btn-warning" ng-click="pc.openProjectModal()"><span class="glyphicon glyphicon-plus"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- <div class="tableContainer">
        <h3>Notes:  <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Note Number</th>
                    <th>Note</th>
                    <th>Last Modefied</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tableContainer">
        <h3>Sessions:</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Session Number</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Hours</th>
                    <th>Project</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
    </div> -->

</div>
